<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= I18n.t("mail.greeting.welcome", user_name: @user.name) %></h1>
    <p>
      <%= I18n.t("mail.greeting.body", user_name: @user.name, site_link: I18n.t("layout.mail.title")) %>
      <br />
    </p>
    <p>
      <%= I18n.t("mail.greeting.thanks") %>
    </p>
  </body>
</html>