= content_for :title
  = I18n.t("admin.title") + ": " + I18n.t("admin.modification_of", user_name: @user.name)

h1.text-center = I18n.t("admin.title")
h3.text-center = I18n.t("admin.modification_of", user_name: @user.name)

.margin-bottom-20

.row.col-sm-8.col-sm-offset-2 = render @user