= content_for :title
  = I18n.t("course.statistics.title")

h1.text-center = I18n.t("course.management.title")
h5.text-center = @course.title

br /

ul.nav.nav-tabs.nav-justified.highlight
  li role="presentation" 
    = link_to I18n.t("course.management.general"), general_manage_course_path(@course)
  li role="presentation" 
    = link_to I18n.t("course.management.documentation"), documentation_manage_course_path(@course)
  li role="presentation" 
    = link_to I18n.t("course.management.parts"), parts_manage_course_path(@course)
  li.active role="presentation" 
    = link_to I18n.t("course.management.statistics"), statistics_course_path(@course)
  li role="presentation" 
    = link_to I18n.t("course.management.members"), members_course_path(@course)

br /

.row
  .col-sm-6
    .highcharts
      .parts-statistics

.row
  .col-sm-6
    .highcharts
      .finalization-by-users
  .col-sm-6
    .highcharts
      .finalization-by-parts

.row
  .col-sm-6
    h4.text-center.highcharts-header-color = I18n.t("course.statistics.user_stats")

    table.table-condensed.table-bordered.table-striped.col-sm-12
      tr.highcharts-table-header-color
        th.text-center.col-sm-1 = I18n.t("general.numbering")
        th.text-center.col-sm-3 = I18n.t("activerecord.attributes.user.name")
        th.text-center.col-sm-4 = I18n.t("activerecord.attributes.user.email")
        th.text-center.col-sm-2 = I18n.t("general.done") + "/\n" + I18n.t("general.failed")
        th.text-center.col-sm-2 = I18n.t("general.details")
      - @course_users.each_with_index do |user, index|
          tr
            td.text-center.col-sm-1 = index + 1
            td.text-center.col-sm-3 = user.name
            td.text-center.col-sm-4 = user.email
            td.text-center.col-sm-2 = "#{@course_users_hw_done[index]} / #{@course_users_hw_failed[index]}"
            td.text-center.col-sm-2
              .btn.btn-info.btn-sm = link_to I18n.t("general.details_link"), user_report_course_path(@course, user)
  .col-sm-6
    h4.text-center.highcharts-header-color = I18n.t("course.statistics.parts_stats")

    table.table-condensed.table-bordered.table-striped.col-sm-12
      tr.highcharts-table-header-color
        th.text-center.col-sm-1 = I18n.t("general.numbering")
        th.text-center.col-sm-3 = I18n.t("activerecord.attributes.user.name")
        th.text-center.col-sm-2 = I18n.t("general.done") + "/\n" + I18n.t("general.failed")
        th.text-center.col-sm-2 = I18n.t("general.details")
      - @sorted_parts.each_with_index do |part, index|
          tr
            td.text-center.col-sm-1 = index + 1
            td.text-center.col-sm-3 = part.title
            td.text-center.col-sm-2 = "#{@course_parts_done_data[index]} / #{@course_parts_fail_data[index]}"
            td.text-center.col-sm-2
              .btn.btn-info.btn-sm = link_to I18n.t("general.details_link"), part_report_course_path(@course, part)

javascript:
  var course_users_count = #{ @course_users_count };
  var course_parts_count = #{ @course_parts_count };

  var course_parts_count_pending = #{@courses_count_pending};
  var course_parts_count_active = #{@courses_count_active};
  var course_parts_count_completed = #{@courses_count_completed};

  var course_parts = #{ raw @sorted_parts.map { |part| "#{part.title}" }  };
  var course_parts_done_data = #{ raw @course_parts_done_data.map { |item| item } };
  var course_parts_fail_data = #{ raw @course_parts_fail_data.map { |item| -item } };

  
  var course_users = #{ raw @course_users.map { |user| "#{user.email}" }  };
  var course_users_done_homeworks = #{ raw @course_users_hw_done.map { |item| item } };
  var course_users_failed_homeworks = #{ raw @course_users_hw_failed.map { |item| -item } };

  var courseStatuses = {
    chart: {
      plotBackgroundColor: null,
      plotBorderWidth: null,
      plotShadow: false
    },
    title: {
      text: "#{I18n.t('course.statistics.part_statuses')}"
    },
    tooltip: false,
    plotOptions: {
      pie: {
        allowPointSelect: true,
        cursor: 'pointer',
        dataLabels: {
          enabled: true,
          format: '<b>{point.name}</b>: {point.y} ({point.percentage:.1f} %)',
          style: {
            color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
          }
        }
      }
    },
    series: [{
      type: 'pie',
      data: [
        ["#{I18n.t('activerecord.attributes.part.statuses.planned')}", course_parts_count_pending],
        ["#{I18n.t('activerecord.attributes.part.statuses.active')}", course_parts_count_active],
        ["#{I18n.t('activerecord.attributes.part.statuses.complete')}", course_parts_count_completed]
      ]
    }]
  };


  var finalizationParts = {
    chart: {
      type: 'bar'
    },
    title: {
      text: "#{I18n.t('course.statistics.part_finalization')}"
    },
    xAxis: [{
      categories: course_parts,
      reversed: false,
      labels: {
        step: 1
      }
    }, { // mirror axis on right side
      opposite: true,
      reversed: false,
      categories: course_parts,
      linkedTo: 0,
      labels: {
        step: 1
      }
    }],
    yAxis: {
      title: {
        text: null
      },
      labels: {
        formatter: function() {
          return this.value;
        }
      },
      min: -course_users_count,
      max: course_users_count
    },

    plotOptions: {
      series: {
        stacking: 'normal'
      }
    },

    series: [{
      name: "#{I18n.t('course.statistics.completed')}",
      data: course_parts_done_data
    }, {
      name: "#{I18n.t('course.statistics.failed')}",
      data: course_parts_fail_data
    }]
  }

  var finalizationUsers = {
    chart: {
      type: 'bar'
    },
    title: {
      text: "#{I18n.t('course.statistics.user_finalization')}"
    },
    xAxis: [{
      categories: course_users,
      reversed: false,
      labels: {
        step: 1
      }
    }],
    yAxis: {
      title: {
        text: null
      },
      labels: {
        formatter: function() {
          return this.value;
        }
      },
      min: -course_parts_count,
      max: course_parts_count
    },

    plotOptions: {
      series: {
        stacking: 'normal'
      }
    },

    series: [{
      name: "#{I18n.t('course.statistics.completed')}",
      data: course_users_done_homeworks
    }, {
      name: "#{I18n.t('course.statistics.failed')}",
      data: course_users_failed_homeworks
    }]
  };

  $(function() {
    // HichCharts for courses
    $(".highcharts .parts-statistics").highcharts(courseStatuses);
    $('.highcharts .finalization-by-parts').highcharts(finalizationParts);
    $('.highcharts .finalization-by-users').highcharts(finalizationUsers);
  });
