// Place all the styles related to the homeworks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jumbotron{
	background-color: rgba(255, 255, 255, 0.5) !important;
}

.jumbotron img {
	display: inline;
}

fieldset {
	border: 1px solid #444 !important;
	padding: 20px !important;
}