// Place all the styles related to the UserCabinet controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.margin-bottom-15 {
  margin-bottom: 15px;
}

.highlight li.active a {
  color: #fff !important;
  background-color: #337ab7 !important;
}

.inline {
	display: inline;
}

.btn a, .btn a:hover, .btn a:visited {
  color: #fff !important;
  text-decoration: none;
  background-color: rgba(255, 0, 0, 0) !important;
}

.margin-top-20 {
	margin-top: 20px;
}

.margin-left-15 {
	margin-left: 15px;
}

.color-white button {
	color: white !important;
}