// Place all the styles related to the UserCabinet controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.margin-bottom-15 {
  margin-bottom: 15px;
}

.highlight li.active a {
  color: #fff !important;
  background-color: #337ab7 !important;
}